body {
    text-align: center;


    font-family: 'Raleway Dots', cursive;
    font: 16px;



}
.header{

   width:100%;
    margin:0;
    padding:0;

}

h1{
  font-family: 'Faster One', cursive;

  font-size:2.2em;
  padding-right:180px;
  margin-top:10px;
}
h2{
  font-family: 'Raleway Dots', cursive;
text-transform: uppercase;
letter-spacing: 10px;
  font-size:2em;
  padding:0 40px 0 40px;
  margin-top:10px;
}
.score{


    display:flex;
    flex-direction:row;
    justify-content: center;

}
.score div{


  padding: 0 10px 0 10px;

}
#game{


  margin-top:-50px;;

}
