body {
  text-align: center;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Faster One', cursive;
  font-size: 2.2em;
  padding-right: 180px;
  margin-top: 10px;
}

#game {
  margin-top: -50px;
  ;
}
